@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title VolunteerMe.</h2>

<p>
    VolunteerMe is designed to connect organizations searching for volunteers with community members
    who are eager to help. We focus on local needs: local schools, local community centers, and
    local charities.
</p>
<p>
    Here's how it works:
</p>
<ol>
    <li>Potential volunteers spell out exactly what kind of work they want to do.</li>
    <li>Organizations create events and specify the skills they need.</li>
    <li>VolunteerMe helps the two come together!</li>
</ol>
<p>
    VolunteerMe also helps like-minded volunteers connect so they can share experiences and link up
    for events.
</p>
