@{
    ViewBag.Title = "VolunteerMe";
}

<div class="jumbotron">
    <h1>VolunteerMe</h1>
    <p class="lead">Local volunteers. Local causes.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ready to Volunteer?</h2>
        <p>
            Find causes that match your interests. Create a volunteer profile, then watch as 
            VolunteerMe finds events that match your passion.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Need Volunteers?</h2>
        <p>
            Need help with your events? Add your organization to VolunteerMe and we'll suggest people
            who are looking for causes like yours.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Want to Connect?</h2>
        <p>
            The only thing harder than finding a good cause to support is finding other people who like
            those causes. VolunteerMe is here to help you link up with other volunteers who share your passion.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>